/*texture thumbnails*/
.thumbnail {
	width: 200px;
	height: 255px;
	padding-top: 15px;
	background-color: rgba(0, 0, 0, 0.05);
}

/* Submit tab. Always the last tab */
.submit{
	background-color: rgba(147,197,114, 1);
	color: white;
}

/* Texture image. This is where you would limit the max size of thumbnail */
img.textureImg {
	max-width: 64px;
	max-height: 64px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Dropdown box */
select {
	width: 100%;
}
